.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  width: 70%;
  right: 0;
  grid-gap: 40px;
  margin-top: 40px;
}

.grid-contents{
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}